@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Spectral&display=swap");
* {
  margin: 0;
  padding: 0;
}

:root {
  --home-bg-color: #99dfff;
  --home-primary-color: #43c4ff;
  --home-secondary-color: #0095da;
  --black-color: #000000;
  --white-color: #ffffff;
  --font-heading: "Spectral", serif;
  --font-content: "Barlow", sans-serif;
}

body {
  font-family: var(--font-content);
}
h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-family: var(--font-heading);
}

.main-container {
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.navbar {
  height: 6rem;
  width: 100%;
  background-color: var(--white-color);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 5%);
}

.logo {
  width: 100%;
  cursor: pointer;
  font-size: 2.5rem;
  color: var(--home-secondary-color);
}
.logo-wraper {
  width: 15rem;
  height: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav {
  margin-left: auto;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin: 0 1rem;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--black-color);
}

nav ul li a:hover {
  color: var(--home-secondary-color);
}

.docnavsidebar {
  width: 60%;
  height: 100vh;
  top: 0;
  padding-top: 5rem;
  position: absolute;
  left: -200rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 1s;
  z-index: 2;
  background-color: var(--home-primary-color);
}

.docnavsidebar.active {
  left: 0;
}

.docnavsidebar span {
  margin: 1rem 0;
}

.docnavsidebar span a {
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.3rem;
}

.docnavsidebar span a:hover {
  color: var(--home-bg-color);
}

.ham-burger {
  font-size: 2rem;
  color: var(--home-secondary-color);
  cursor: pointer;
  margin-left: auto;
  display: none;
}

.body-content {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-top: 4rem;
}

.content {
  margin: 0 7%;
}

.content h1 {
  font-size: 4rem;
  font-weight: 400;
  margin: 2rem 0 0.5rem 0;
}

.content p {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0.5rem 0 2rem 0.5rem;
}

.getstarted-btn {
  background-color: var(--home-primary-color);
  border-radius: 2rem;
  padding: 1rem;
  border: 0px;
  font-size: 1.1rem;
  color: var(--white-color);
  box-shadow: inset 0.1rem 0.1rem 0.3rem var(--white-color),
    inset -0.1rem -0.1rem 0.3rem var(--home-secondary-color);
}

.getstarted-btn:hover {
  background-color: var(--home-secondary-color);
  box-shadow: inset 0.1rem 0.1rem 0.3rem var(--white-color),
    inset -0.1rem -0.1rem 0.3rem var(--home-primary-color);
}

.home-image {
  display: flex;
  margin: 4rem 3rem 0 0;
  padding: 2rem;
}
.home-image img {
  flex-grow: 1;
  background-color: transparent;
  width: 100%;
  height: 100%;
  object-fit: contain;
  animation: bounce 1s infinite alternate;
}
.home-image img:nth-child(odd) {
  animation: bounceodd 1s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0rem);
  }
  to {
    transform: translateY(-4rem);
  }
}
@keyframes bounceodd {
  from {
    transform: translateY(-4rem);
  }
  to {
    transform: translateY(0rem);
  }
}

@media only screen and (max-width: 800px) {
  .body-content {
    display: flex;
    flex-direction: column-reverse;
  }
  .ham-burger {
    display: block;
    padding: 1rem;
  }
  .navbar nav {
    display: none;
  }
  .home-image {
    margin: 4rem 1rem 2rem;
    width: 90%;
  }
  .content {
    margin: 5%;
  }
}

@media only screen and (min-width: 1700px) {
  .main-container {
    width: 70%;
    margin: auto;
  }
  .body-content {
    margin: auto;
    height: 80vh;
  }
}
