.main-2grid {
  display: grid;
  background-color: transparent;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  width: 100%;
  height: 100%;
  max-width: 56.5rem;
  margin: 0 auto;
}
.grid-child {
  width: 90%;
  height: 10rem;
}
.main-3grid {
  display: grid;
  grid-gap: 10px;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
}
