@import url("avatar.css");
@import url("alerts.css");
@import url("badge.css");
@import url("buttons.css");
@import url("cards.css");
@import url("images.css");
@import url("inputs.css");
@import url("textUtilities.css");
@import url("list.css");
@import url("nav.css");
@import url("modal.css");
@import url("rating.css");
@import url("toast.css");

:root {
  --home-bg-color: #99dfff;
  --home-primary-color: #43c4ff;
  --home-secondary-color: #0095da;
  --black-color: #000000;
  --white-color: #ffffff;
  --gray-color: gray;
}
