@import url("avatar.css");
@import url("alerts.css");
@import url("badge.css");
@import url("buttons.css");
@import url("cards.css");
@import url("images.css");
@import url("inputs.css");
@import url("textUtilities.css");
@import url("list.css");
@import url("nav.css");
@import url("modal.css");
@import url("rating.css");
@import url("toast.css");
@import url("grid.css");
@import url("slider.css");
@import url("utilities.css");

:root {
  --primary-color: #5acbff;
  --secondary-color: #0087c6;
  --black-color: #000000;
  --white-color: #ffffff;
  --gray-color: gray;
  --success: #94ff5f;
  --warning: #fff45f;
  --info: #5fffec;
  --danger: #ff5f5f;
}
